@charset "utf-8";
@import url("webfonts/MinoltaClv1_2/stylesheet.css");
@import url("webfonts/futura_heavy/stylesheet.css");


.container-fluid {
	background-color: #F7EFD2;
}
.container-fluid .container .text-uppercase.text-center {
    color: #000000;
    font-family: "futura heavy";
}
.carousel-item .carousel-caption .col-xl-5 {
    font-family: "Century Schoolbook";
}

footer .row .col-xl-6 {
    text-align: right;
    font-style: italic;
}
.row .col-xl-4 .card.col-md-4.col-xl-12 {
    background-color: #8A8583;
}
.card.col-md-4.col-xl-12 .card-body .card-title {
    font-family: "Century Schoolbook";
    color: #FFFFFF;
    font-variant: small-caps;
}
